body{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif; 
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}
.ball{
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    margin:  auto; 
    transition: .3s ease-in-out;
}
.ball2{
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
    margin:  auto; 
    transition: .3s ease-in-out;
}