body{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif; 
    padding: 20px;
}
.ball{
    display: grid;
    place-items: center;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    margin:  auto; 
}