body{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif; 
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    display: grid;
    place-items: center;
    height: 100vh;
}
.ball{
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin:  auto;  
    transition: .3s ease-in-out;
    padding: 20px;
}
.ball1{
    background-color: red;
}
.ball2{
    background-color: blue;
}
.ball3{
    background-color: green;
}
.ball4{
    background-color: rgb(109, 109, 69);
}
.ball5{
    background-color: rgb(69, 109, 109);
}